{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<h2>Login</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.username.label }}<br />
    {{ form.username(size=32) }} {% for error in form.username.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="form-group">
    {{ form.password.label }}<br />
    {{ form.password(size=32) }} {% for error in form.password.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>
  {{ form.submit(class_="btn") }}
</form>
{% endblock %}
